model
voice/chim.wav
voice - 복사본
module/__pycache__
__pycache__
config.ini
temp.wav
dataset/
whisper_small_atco2/
whisper_small_atco4/
whisper_small_atco5/
flagged/
dataTrain.py
result/2e5e1b26-ba14-400d-9c54-77df959240bd.wav
result/b499afb2-d94e-4ca3-ac80-a1be325fb1eb.wav
result/c2022aaf-0faf-4a26-bb4f-b28a0780d6f5.wav
voice/man2.mp3
whisper_test/best_model/added_tokens.json
whisper_test/best_model/config.json
whisper_test/best_model/generation_config.json
whisper_test/best_model/merges.txt
whisper_test/best_model/model.safetensors
whisper_test/best_model/normalizer.json
whisper_test/best_model/preprocessor_config.json
whisper_test/best_model/special_tokens_map.json
whisper_test/best_model/tokenizer_config.json
whisper_test/best_model/vocab.json
whisper_test/checkpoint-43640/config.json
whisper_test/checkpoint-43640/generation_config.json
whisper_test/checkpoint-43640/model.safetensors
whisper_test/checkpoint-43640/optimizer.pt
whisper_test/checkpoint-43640/preprocessor_config.json
whisper_test/checkpoint-43640/rng_state.pth
whisper_test/checkpoint-43640/scheduler.pt
whisper_test/checkpoint-43640/trainer_state.json
whisper_test/checkpoint-43640/training_args.bin
whisper_test/checkpoint-72730/config.json
whisper_test/checkpoint-72730/generation_config.json
whisper_test/checkpoint-72730/model.safetensors
whisper_test/checkpoint-72730/optimizer.pt
whisper_test/checkpoint-72730/preprocessor_config.json
whisper_test/checkpoint-72730/rng_state.pth
whisper_test/checkpoint-72730/scheduler.pt
whisper_test/checkpoint-72730/trainer_state.json
whisper_test/checkpoint-72730/training_args.bin
whisper_test/runs/Nov26_13-05-00_DESKTOP-JMEJCPL/events.out.tfevents.1732593901.DESKTOP-JMEJCPL.4268.0
whisper_test/runs/Nov26_17-45-01_DESKTOP-JMEJCPL/events.out.tfevents.1732610701.DESKTOP-JMEJCPL.14652.0
whisper_test/runs/Nov26_17-47-50_DESKTOP-JMEJCPL/events.out.tfevents.1732610870.DESKTOP-JMEJCPL.4640.0
whisper_test/runs/Nov26_17-57-29_DESKTOP-JMEJCPL/events.out.tfevents.1732611449.DESKTOP-JMEJCPL.23960.0
whisper_test/runs/Nov26_17-58-15_DESKTOP-JMEJCPL/events.out.tfevents.1732611496.DESKTOP-JMEJCPL.6540.0
whisper_test/runs/Nov27_04-45-23_DESKTOP-JMEJCPL/events.out.tfevents.1732650324.DESKTOP-JMEJCPL.23236.0
whisper_test/runs/Nov27_17-29-07_DESKTOP-JMEJCPL/events.out.tfevents.1732696148.DESKTOP-JMEJCPL.25012.0
whisper_test/runs/Nov28_03-27-05_DESKTOP-JMEJCPL/events.out.tfevents.1732732029.DESKTOP-JMEJCPL.11032.0
whisper_test/runs/Nov29_14-02-09_DESKTOP-JMEJCPL/events.out.tfevents.1732856532.DESKTOP-JMEJCPL.22664.0
whisper_test/runs/Nov29_15-42-15_DESKTOP-JMEJCPL/events.out.tfevents.1732862537.DESKTOP-JMEJCPL.26560.0
whisper_test/runs/Nov29_16-38-19_DESKTOP-JMEJCPL/events.out.tfevents.1732865902.DESKTOP-JMEJCPL.5304.0
whisper_test/runs/Nov29_16-58-07_DESKTOP-JMEJCPL/events.out.tfevents.1732867090.DESKTOP-JMEJCPL.10420.0
whisper_test/runs/Nov29_18-30-31_DESKTOP-JMEJCPL/events.out.tfevents.1732872633.DESKTOP-JMEJCPL.3960.0
whisper_test2/best_model/added_tokens.json
whisper_test2/best_model/config.json
whisper_test2/best_model/generation_config.json
whisper_test2/best_model/merges.txt
whisper_test2/best_model/model.safetensors
whisper_test2/best_model/normalizer.json
whisper_test2/best_model/preprocessor_config.json
whisper_test2/best_model/special_tokens_map.json
whisper_test2/best_model/tokenizer_config.json
whisper_test2/best_model/vocab.json
whisper_test2/checkpoint-57/config.json
whisper_test2/checkpoint-57/generation_config.json
whisper_test2/checkpoint-57/model.safetensors
whisper_test2/checkpoint-57/optimizer.pt
whisper_test2/checkpoint-57/preprocessor_config.json
whisper_test2/checkpoint-57/rng_state.pth
whisper_test2/checkpoint-57/scheduler.pt
whisper_test2/checkpoint-57/trainer_state.json
whisper_test2/checkpoint-57/training_args.bin
whisper_test2/checkpoint-80/config.json
whisper_test2/checkpoint-80/generation_config.json
whisper_test2/checkpoint-80/model.safetensors
whisper_test2/checkpoint-80/optimizer.pt
whisper_test2/checkpoint-80/preprocessor_config.json
whisper_test2/checkpoint-80/rng_state.pth
whisper_test2/checkpoint-80/scheduler.pt
whisper_test2/checkpoint-80/trainer_state.json
whisper_test2/checkpoint-80/training_args.bin
whisper_test2/runs/Dec05_14-15-58_DESKTOP-JMEJCPL/events.out.tfevents.1733375759.DESKTOP-JMEJCPL.23852.0
dataSet_1125 copy.py
123.py
voice/man2.mp3
result/2e5e1b26-ba14-400d-9c54-77df959240bd.wav
result/b499afb2-d94e-4ca3-ac80-a1be325fb1eb.wav
result/c2022aaf-0faf-4a26-bb4f-b28a0780d6f5.wav
